# Part 1. 여러 개의 엑셀 파일을 하나로 합치기

# 1. 파일 불러오기

In [1]:
import numpy as np
import pandas as pd

In [2]:
f1 = pd.read_excel("1-1.xlsx", encoding = 'cp949')
f2 = pd.read_excel("1-2.xlsx", encoding = 'cp949')
f3 = pd.read_excel("2.xlsx", encoding = 'cp949')
f4 = pd.read_excel("3-1.xlsx", encoding = 'cp949')
f5 = pd.read_excel("3-2.xlsx", encoding = 'cp949')
f6 = pd.read_excel("3-3.xlsx", encoding = 'cp949')
f7 = pd.read_excel("3-4.xlsx", encoding = 'cp949')
f8 = pd.read_excel("4.xlsx", encoding = 'cp949')
f9 = pd.read_excel("5.xlsx", encoding = 'cp949')
f10 = pd.read_excel("6.xlsx", encoding = 'cp949')

## 2. 불필요한 column 삭제

In [3]:
f3.head()

,대분류,소분류,상황,Set Nr.,발화자,원문,번역문
0,비즈니스,회의,의견 교환하기,1,A-1,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
1,비즈니스,회의,의견 교환하기,1,B-1,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
2,비즈니스,회의,의견 교환하기,1,A-2,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."
3,비즈니스,회의,의견 교환하기,1,B-2,"네, 제가 연락해서 주문량을 2배로 늘리겠습니다.","Sure, I'll make a call and double the volume o..."
4,비즈니스,회의,의견 교환하기,2,A-1,지난 회의 마지막에 논의했던 안건을 다시 볼까요?,Shall we take a look at the issues we discusse...

In [4]:
del f3['대분류']
del f3['소분류']
del f3['상황']
del f3['Set Nr.']
del f3['발화자']

In [5]:
f3.head()

,원문,번역문
0,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
1,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
2,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."
3,"네, 제가 연락해서 주문량을 2배로 늘리겠습니다.","Sure, I'll make a call and double the volume o..."
4,지난 회의 마지막에 논의했던 안건을 다시 볼까요?,Shall we take a look at the issues we discusse...

In [6]:
f4.head()

,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
0,329782,2018-08-21,"스포츠,올림픽_아시안게임",NaN,NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,근본적인 문제는 제도 개선을 통해 이뤄내야 하지만 당면한 아시안게임 금메달을 위해선...,The fundamental problem should be achieved thr...
1,322438,2018-08-20,"경제,취업_창업","경제,산업_기업",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,근본적인 해결책은 아니라는 지적이 있지만 대내외 여건이 좋지 않고 정부가 쓸 카드도...,Although it is pointed out that it is not a fu...
2,1361961,2019-04-21,"경제,서비스_쇼핑","경제,산업_기업","IT_과학,IT_과학일반",http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,"근사하게 ‘혼밥’을 즐기고 건강도 챙기려는 1인 가구도 늘면서, 간편히 양식과 샐러...",The number of one-person households who enjoy ...
3,600149,2018-10-27,"IT_과학,인터넷_SNS","IT_과학,콘텐츠","문화,생활",http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,근사한 오디오 세트도 없는 그가 이 음악을 듣는 방법은 컴퓨터를 켜고 유튜브에서 검...,"Even without a nice audio player, he can liste..."
4,789768,2018-12-10,"IT_과학,과학","사회,여성",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,"근육량을 증가시키기 위해 매일 양질의 단백질 식품을 적절히 섭취하는 것이 중요한데,...","In order to increase muscle mass, it is import..."

In [7]:
del f4['ID']
del f4['날짜']
del f4['자동분류1']
del f4['자동분류2']
del f4['자동분류3']
del f4['URL']
del f4['언론사']

In [8]:
f4.head()

,원문,번역문
0,근본적인 문제는 제도 개선을 통해 이뤄내야 하지만 당면한 아시안게임 금메달을 위해선...,The fundamental problem should be achieved thr...
1,근본적인 해결책은 아니라는 지적이 있지만 대내외 여건이 좋지 않고 정부가 쓸 카드도...,Although it is pointed out that it is not a fu...
2,"근사하게 ‘혼밥’을 즐기고 건강도 챙기려는 1인 가구도 늘면서, 간편히 양식과 샐러...",The number of one-person households who enjoy ...
3,근사한 오디오 세트도 없는 그가 이 음악을 듣는 방법은 컴퓨터를 켜고 유튜브에서 검...,"Even without a nice audio player, he can liste..."
4,"근육량을 증가시키기 위해 매일 양질의 단백질 식품을 적절히 섭취하는 것이 중요한데,...","In order to increase muscle mass, it is import..."

In [9]:
f5.head()

,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
0,20132115,2018-10-26 00:00:00,"문화,영화","문화,전시_공연","문화,방송_연예",http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,자발적인 관객 입소문이 형성되면서 단체 관람 열풍이 이어지고 있다.,As rumors of voluntary audience entry are form...
1,20613567,2019-02-26 00:00:00,"문화,문화일반",NaN,NaN,http://www.hani.co.kr/arti/opinion/column/8836...,한겨레,자본주의가 훼손했던 공동체에 대한 애착과 시민적 참여도 촉진할 것이다.,It will also promote the attachment to the com...
2,21483221,2019-05-23 00:00:00,"문화,출판","IT_과학,인터넷_SNS","IT_과학,콘텐츠",http://www.sedaily.com/NewsView/1VJ962E9MH,서울경제,"자비롭게도, 감수해야 할 위험이 그렇게 잔인할 정도로 높지는 않다.","Mercifully, the risk to be taken is not so bru..."
3,20366093,2018-07-30 00:00:00,"문화,학술_문화재","사회,사회일반","문화,출판",http://www.naeil.com/news_view/?id_art=283786,내일신문,자살예방 일선에서 실무를 맡아야 할 전문인력이 부족하다는 문제도 지적했다.,He also pointed out the lack of professionals ...
4,20973418,2018-10-05 00:00:00,"문화,방송_연예","문화,영화","문화,출판",http://www.sedaily.com/NewsView/1S5SNFMKCU,서울경제,자상하고 친근한 배우 차태현이 까칠하고 예민한 성격의 남편으로 돌아온다.,Comfortable and friendly actor Cha Tae-hyun is...

In [10]:
del f5['ID']
del f5['날짜']
del f5['자동분류1']
del f5['자동분류2']
del f5['자동분류3']
del f5['URL']
del f5['언론사']

In [11]:
f6.head()

,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
0,141833,20180705,"사회,사회일반",NaN,NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,국제구호개발 NGO인 ㈔사랑광주리(이사장 오정현 목사)가 최근 수해가 발생한 지역을...,(Corporation) Love Box (Chief Pastor Oh Jung-h...
1,1203595,20190316,"경제,경제일반",NaN,NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,‘찾아가는 교육 프로그램’은 한국에서 학교생활의 적응을 위해 노력하는 다문화 예비학...,Educational Program' provides students with em...
2,2446514,20181014,"국제,중국","국제,미국_북미",NaN,http://www.hani.co.kr/arti/international/china...,한겨레,중국인 오페어를 고용한 작가 미아 리버튼 앨퍼트는 “(중국이) 분명히 글로벌 초강대...,"""(China) is clearly a global superpower, so it..."
3,98515,20180625,"사회,사건_사고","사회,의료_건강",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,목격자는 “(최씨가) 계좌이체를 하겠다고 했는데 (주유소) 사장님이 통장에 안 들어...,"""(Choi) Said he would transfer through his acc..."
4,1662830,20180831,"사회,교육_시험","정치,정치일반",NaN,http://www.naeil.com/news_view/?id_art=287186,내일신문,유 후보자는 “(교육정책은) 속도가 아니라 방향이 중요하다”며 “안정된 교육개혁을 ...,"""(Education policy) is important not speed, bu..."

In [12]:
del f6['ID']
del f6['날짜']
del f6['자동분류1']
del f6['자동분류2']
del f6['자동분류3']
del f6['URL']
del f6['언론사']

In [13]:
f7.head()

,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
0,3053789,20190523,"IT_과학,과학","IT_과학,인터넷_SNS",NaN,http://www.hani.co.kr/arti/economy/it/895038.html,한겨레,장 공동대표는 “HMD 기술발전을 토대로 스타와 팬이 가장 현장감 있는 경험을 할 ...,"""We will grow into a virtual entertainment tec..."
1,20494798,20180803,"경제,무역","경제,국제경제","국제,미국_북미",http://www.hani.co.kr/arti/economy/global/8561...,한겨레,몸을 일으킨다는 사전적 정의가 중국 상황에 부합한다.,A dictionary definition of raising the body co...
2,12559089,20190403,"사회,날씨",NaN,NaN,https://news.sbs.co.kr/news/endPage.do?news_id...,SBS,"이제는 일부 서해안을 제외한 전국에 건조주의보가 내려졌고요, 동해안과 영남 내륙 그...",A drought warning is in force for the country ...
3,5497924,20181219,"사회,사건_사고",NaN,NaN,http://www.sedaily.com/NewsView/1S8IX2OHSE,서울경제,오늘(19일) 새벽 1시 50분쯤 인천시 강화군 불은면의 한 토마토 재배 농장 비닐...,A fire broke out at a vinyl greenhouse on a to...
4,9944189,20190418,"사회,사건_사고",NaN,NaN,NaN,노컷뉴스,청와대 국민청원에는 “초기 부실한 대처로 예견된 사건을 막지 못한 경찰과 관련자들의...,A petition for the Blue House has been filed t...

In [14]:
del f7['ID']
del f7['날짜']
del f7['자동분류1']
del f7['자동분류2']
del f7['자동분류3']
del f7['URL']
del f7['언론사']

In [15]:
f7.head()

,원문,번역문
0,장 공동대표는 “HMD 기술발전을 토대로 스타와 팬이 가장 현장감 있는 경험을 할 ...,"""We will grow into a virtual entertainment tec..."
1,몸을 일으킨다는 사전적 정의가 중국 상황에 부합한다.,A dictionary definition of raising the body co...
2,"이제는 일부 서해안을 제외한 전국에 건조주의보가 내려졌고요, 동해안과 영남 내륙 그...",A drought warning is in force for the country ...
3,오늘(19일) 새벽 1시 50분쯤 인천시 강화군 불은면의 한 토마토 재배 농장 비닐...,A fire broke out at a vinyl greenhouse on a to...
4,청와대 국민청원에는 “초기 부실한 대처로 예견된 사건을 막지 못한 경찰과 관련자들의...,A petition for the Blue House has been filed t...

In [16]:
f8.head()

,ID,키워드,원문,번역문
0,368872,생활·민속/민속,"본래 솥을 든 사람은 벌거벗고 솥을 들어야 하지만, 지원하는 자가 없자 솥을 든 사...","Originally, the person holding the pot was sup..."
1,369008,생활·민속/민속,"용인의 민속놀이는 용인 지역의 기후와 지리적 풍토, 지역 주민들의 생활 습성이 반영...",Yongin's folk play has been settled as a uniqu...
2,369023,생활·민속/민속,"예를 들면, 용인 전 지역에서 행해진 100여 가지의 놀이 가운데 전 지역에서 공통...","For example, among the 100 plays performed in ..."
3,369049,생활·민속/민속,"보통은 산신당을 지어 신체를 모셔 놓고 치성을 드리는 사례가 일반적이나, 지금은 대...","Generally, it is common practice to put a sacr..."
4,369094,생활·민속/민속,"윤원근 씨의 모친(82세)에 의하면, 5년 전에 무당들이 와서 통돼지와 제물을 차려...",According to Yun Won-geun's mother who is 82 y...

In [17]:
del f8['ID']
del f8['키워드']

In [19]:
f9.head()

,ID,지자체,원문,번역문
0,580126,노원구 조례,서울특별시 노원구 주차장 설치 및 관리 조례,"The Nowon-gu, Seoul Metropolitan Government Or..."
1,585234,노원구 조례,영 제38조제1항에 따라 안전점검 업무를 위탁받을 수 있는 자는 다음 각 호의 어느...,Any of the following persons shall be entitled...
2,578277,노원구 조례,"(신분증의 규격· 제식 및 기재사항 등) 신분증에는 소속, 성명, 생년월일 등을 기...","(Standards, forms, description, etc. of the id..."
3,575936,노원구 조례,신분증과 대장에 첨부한 사진은 동일한 것으로서 발급일 기준 6월이내에 찍은 것이라야...,The photograph attached to the identification ...
4,575835,노원구 조례,의원이 그 신분을 상실한 때에는 신분증을 의장에게 반납하여야 한다.,"When a member loses his/her status, his/her id..."

In [20]:
del f9['ID']
del f9['지자체']

In [22]:
f10.head()

,ID,지자체,원문,번역문
0,261811,경기도,"""경기도가 말산업 육성을 위해 총예산 245,193천원으로 2013년 경기도 용인시...","""The Gyeonggi provincial government announced ..."
1,409852,경기도,"""경기도가 주최하고 경기FTA활용지원센터와 코트라가 주관한 이번 시장개척단은 지난 ...","""Organized by Gyeonggi provincial government a..."
2,352671,경기도,"""경기도가 주최하고 경기도비정규직지원센터가 주관한 이번 교육은 공공 부문이 직·간접...","""Organized by Gyeonggi provincial government a..."
3,308191,경기도,"""경기도가 주최하고 사단법인 한국장애인복지시설협회 경기도협회(대표자:정권)에서 주관...","""Organized by Gyeonggi provincial government a..."
4,185424,경기도,"""경기도가 주최하고 인구보건복지협회 경기지회, 아이낳기좋은세상 경기운동본부가 주관하...","""Hosted by Gyeonggi provincial government, org..."

In [23]:
del f10['ID']
del f10['지자체']

In [24]:
f10.head()

,원문,번역문
0,"""경기도가 말산업 육성을 위해 총예산 245,193천원으로 2013년 경기도 용인시...","""The Gyeonggi provincial government announced ..."
1,"""경기도가 주최하고 경기FTA활용지원센터와 코트라가 주관한 이번 시장개척단은 지난 ...","""Organized by Gyeonggi provincial government a..."
2,"""경기도가 주최하고 경기도비정규직지원센터가 주관한 이번 교육은 공공 부문이 직·간접...","""Organized by Gyeonggi provincial government a..."
3,"""경기도가 주최하고 사단법인 한국장애인복지시설협회 경기도협회(대표자:정권)에서 주관...","""Organized by Gyeonggi provincial government a..."
4,"""경기도가 주최하고 인구보건복지협회 경기지회, 아이낳기좋은세상 경기운동본부가 주관하...","""Hosted by Gyeonggi provincial government, org..."

In [25]:
del f1['SID']
del f2['SID']

## 3. f1 ~ f7을 이어붙이기 (concat)

In [26]:
data = pd.concat([f1,f2,f3,f4,f5,f6,f7,f8,f9,f10])

In [27]:
len(data)

1602708

In [39]:
data = data.reset_index(drop=True) # 0~20만, 0~20만 이런 인덱스까지 concat 되었던 것을 초기화, 다시 인덱스 주었다

In [40]:
data.rename(columns={'원문': 'Korean', '번역문': 'English'}, inplace=True)

In [41]:
data['English'].isnull().sum()

0

In [42]:
len(data)

1602708

In [43]:
data

,Korean,English
0,'Bible Coloring'은 성경의 아름다운 이야기를 체험 할 수 있는 컬러링 ...,Bible Coloring' is a coloring application that...
1,씨티은행에서 일하세요?,Do you work at a City bank?
2,푸리토의 베스트셀러는 해외에서 입소문만으로 4차 완판을 기록하였다.,"PURITO's bestseller, which recorded 4th rough ..."
3,11장에서는 예수님이 이번엔 나사로를 무덤에서 불러내어 죽은 자 가운데서 살리셨습니다.,In Chapter 11 Jesus called Lazarus from the to...
4,"6.5, 7, 8 사이즈가 몇 개나 더 재입고 될지 제게 알려주시면 감사하겠습니다.",I would feel grateful to know how many stocks ...
...,...,...
1602703,힐튼호텔 건너편에서 회현동주민센터로 내려가는 길에는 칙칙한 회색의 석축옹벽이 이어져...,"Across from the Hilton Hotel, the path to Hoeh..."
1602704,힘든 분들이 많이 계시지만 조금이나마 어렵지 않도록 도움이 될 수 있도록 저희가 최...,There are a lot of people who are having a har...
1602705,힘든 역사 속에서 대한민국을 불과 50여년 만에 빛나는 나라로 만들고 업적을 만들 ...,It was possible to make the Republic of Korea ...
1602706,힘든 일을 하는 데는 무엇보다 정부가 큰 관심을 갖고 있다는 자부심을 갖도록 해야 한다.,"As for doing hard work, most of all, they shou..."
1602707,힘을 합쳐 세계 일류통일강국으로 대한민국을 우뚝 세우는 역할을 이 자리의 모든 지도...,I would like to thank all the leaders here for...

## 4. pickle을 통해 객체로 데이터 저장하기

In [44]:
#data.to_pickle("concat_file.pkl")